@model IEnumerable<BusinessLayer.Complain>

@{
    ViewBag.Title = "All Complains";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>All Complains</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComplainantsCNIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfIncident)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfIncident)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaceOfIncident)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistrictName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetailOfIncident)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlreadyVisitPoliceStation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComplainantsCNIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfIncident)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOfIncident)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlaceOfIncident)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistrictName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetailOfIncident)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlreadyVisitPoliceStation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |          
            @Html.ActionLink("Delete", "Delete", new {  id=item.ComplainantsCNIC  })
        </td>
    </tr>
}

</table>
